.playerSelectionOverlay {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 500px;
  width: 600px;
  background-color: #6B9AC4;
  z-index: 10;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  color: antiquewhite;
  font-size: 24pt;
  border-radius: 50px;
}
.gameTypeText {
  font-size: 36pt;
}
.gameTypeDiv,
.gameType {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gameTypeForm {
  background-color: rgba(0, 0, 16, 0.8);
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
}
svg {
  fill: rgb(242, 242, 242);
  height: 3.6rem;
  width: 3.6rem;
  margin-left: -0.8rem;
}
label {
  margin-bottom: 10px;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
}
input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
input + svg {
  cursor: pointer;
}
input[class="pvp"]:hover + svg,
input[class="pvp"]:checked + svg,
input[class="pvp"]:focus + svg {
  fill: #F05d23;
}
input[class="pve"]:hover + svg,
input[class="pve"]:checked + svg,
input[class="pve"]:focus + svg {
  fill: #E3B505;
}

.buttonCont {
  display: flex;
  margin-top: 25px;
}
button {
  margin: 5px;
}

.submitButton:hover,
.closeButton:hover {
  background-color: #E3B505;
  color: antiquewhite;
}
.submitButton:active,
.closeButton:active {
  scale: 0.9;
}
