/* enter and exit leftleftleftleftleft */
@keyframes exitUp {
  from {
    top: 9%;
  }
  to {
    top: -100%;
  }
}

@keyframes enterTop {
  from {
    top: -100%;
  }
  to {
    top: 9%;
  }
}

/* opacityopacityopacityopacityopacityopacityopacityopacityopacity */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
