/* enter and exit toptoptoptoptoptoptoptop */
@keyframes exitUp {
  from {
    top: 30vh;
  }
  to {
    top: -100%;
  }
}

@keyframes enterTop {
  from {
    top: -100%;
  }
  to {
    top: 30vh;
  }
}

/* opacityopacityopacityopacityopacityopacityopacityopacityopacity */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* censorCurtaincensorCurtaincensorCurtaincensorCurtaincensorCurtaincensorCurtaincensorCurtain */
@keyframes curtainEnter {
  from {
    top: -150%;
  }
  to {
    top: auto;
  }
}

@keyframes diagonalRight {
  from {
    top: -100%;
    right: 50%;
  }
  to {
    top: 30vh;
    right: 20vw;
  }
}

@keyframes slideLeft {
  from {
    top: 30vh;
    right: 20vw;
  }
  to {
    top: 30vh;
    left: 20vw;
  }
}

@keyframes enterTopBoard {
  from {
    top: -100%;
  }
  to {
    top: 28vh;
    right: 20vw;
  }
}
