@media (max-width: 480px){
    .battleshipTitle{/*title*/
        margin: 0 !important;
        top: 2vh !important;
        opacity: 0.5;
    }
    .playerLabel {
        margin-bottom: 5px;
        margin-top: 55px;
    }
    .multShipsPlacementOverlay {/*multShipOverlay*/
        left: 50%;
        top: 73vh;
    }
    .shipsDiagram{
        flex-direction: column;
    }
    table.\35,/*ships for multShipsDiagram*/
    table.\34,
    table.\33,
    table.\32 a,
    table.\32 b {
        margin: 5px;
        height: 25px;
        border-radius: 100px;
    }
    td.\32 a,
    td.\32 b,
    td.\33,
    td.\34,
    td.\35 {
        width: 5px;
        height: 5px;
    }
    .chooseShipMsg {
        margin: 0;
        text-align: center;
    }
    .shipInputsOverlay{/*coordInputOverlay*/
        top: 73vh;
        width: 300px;
        height: 300px;
        background-color: #8FCB9B;
    }
    .axis{
        margin-bottom: 10px;
    }
    .confirmCoords, .cancelCoords{
        width:auto;
        height: 35px;
    }
    .boardContainer{/*boards*/
        flex-direction: column;
        gap: 10px !important;
        top: 60%;
    }
    @keyframes slideOverP1 {
        from {
            top: 70%;
        }
        to {
            top: 30%;
        }
    }
    @keyframes slideBackP2 {
        from {
            left: 34vw;
        }
        to {
            left: 68vw;
        }
    }
}