@media (max-width: 480px){
    .battleshipTitle{
        margin: 0 !important;
        top: 6vh !important;
    }
    .multShipsPlacementOverlay {
        left: 50%;
        top: 37%;
    }
    .shipsDiagram{
        flex-direction: column;
    }
    table.\35,/*ships for multShipsDiagram*/
    table.\34,
    table.\33,
    table.\32 a,
    table.\32 b {
        margin: 5px;
        height: 25px;
        border-radius: 100px;
    }
    td.\32 a,
    td.\32 b,
    td.\33,
    td.\34,
    td.\35 {
        width: 5px;
        height: 5px;
    }
    .chooseShipMsg {
        margin: 0;
        text-align: center;
    }
}