@media (max-width: 1440px){
    .shipsDiagram{
        flex-direction: column;
    }
    table.\35,/*ships for multShipsDiagram*/
    table.\34,
    table.\33,
    table.\32 a,
    table.\32 b {
        margin: 5px;
    }
}
@media (max-width: 600px){
    .multShipsPlacementOverlay,.shipInputsOverlay, .winnerOverlay, .coordsTakenOverlay {
        width: 90vw;
        max-width: 400px;
        height: auto;
        padding: 1em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 480px){
    /* *{
        outline: 1px solid red;
    } */
    .battleshipTitle{/*title*/
        margin: 0 !important;
        top: 2vh !important;
        left: 0 !important;
        transform: none !important;
        opacity: 0.5;
    }
    .playerLabel {
        margin-bottom: 5px;
        margin-top: 55px;
    }
    .multShipsPlacementOverlay {/*multShipOverlay*/
        left: 50%;
        top: 75vh;
    }
    .shipsDiagram{
        flex-direction: column;
    }
    table.\35,/*ships for multShipsDiagram*/
    table.\34,
    table.\33,
    table.\32 a,
    table.\32 b {
        margin: 5px;
    }
    .chooseShipMsg {
        margin: 0;
        text-align: center;
    }
    .shipInputsOverlay{/*coordInputOverlay*/
        top: 45vh;/*45%*/
        left: 50%;
        width: 300px;
        height: 300px;
        background-color: #2D305D;
    }
    .axis{
        margin-bottom: 10px;
    }
    .confirmCoords, .cancelCoords{
        width:auto;
        height: 35px;
    }
    .boardContainer{/*boards*/
        flex-direction: column;
        gap: 10px !important;
        top: 60%;
    }
    @keyframes slideOverP1 {
        from {
            top: 70%;
        }
        to {
            top: 30%;
        }
    }
    @keyframes slideBackP2 {
        from {
            left: 34vw;
        }
        to {
            left: 68vw;
        }
    }
}