@media (max-width: 1440px){
    .shipsDiagram{
        flex-direction: column;
    }
    table.\35,/*ships for multShipsDiagram*/
    table.\34,
    table.\33,
    table.\32 a,
    table.\32 b {
        margin: 5px;
    }
}
@media (max-width: 480px){
    .battleshipTitle{/*title*/
        margin: 0 !important;
        top: 2vh !important;
        left: 0 !important;
        transform: none !important;
        opacity: 0.5;
    }
    .multShipsPlacementOverlay {/*multShipOverlay*/
        left: 50%;
        top: 80%;
    }
    .shipsDiagram{
        flex-direction: column;
    }
    table.\35,/*ships for multShipsDiagram*/
    table.\34,
    table.\33,
    table.\32 a,
    table.\32 b {
        margin: 5px;
    }
    .chooseShipMsg {
        margin: 0;
        text-align: center;
    }
    .shipInputsOverlay{/*coordInputOverlay*/
        top: 75%;
        left: 50%;
        width: 300px;
        height: 300px;
        background-color: #2D305D;
    }
    .axis{
        margin-bottom: 10px;
    }
    .confirmCoords, .cancelCoords{
        width:auto;
        height: 35px;
    }
    .winnerOverlay {/*winnerOverlay*/
        width: 300px;
        height: 500px;
        font-size: 3rem;
    }
    .playAgain {
        font-size: 2rem;
    }
    .boardContainer{/*boards*/
        flex-direction: column;
        gap: 10px !important;
        top: 60%;
    }
    .boardWrapper {
        width: 100%;
        height: auto;
        position: relative;
        overflow: visible;
    }
    table#Player1-board td, table#Player2-board td{
        width: auto;
        aspect-ratio: 1/1;
        max-height: 18px;
    }
}
@media (max-width: 600px){
     .boardContainer{/*boards*/
        flex-direction: column;
        gap: 10px !important;
        top: 60%;
    }
    .multShipsPlacementOverlay {/*multShipOverlay*/
        left: 50%;
        top: 75%;
    }
    .shipInputsOverlay{/*coordInputOverlay*/
        top: 75%;
        left: 50%;
        width: 300px;
        height: 300px;
        background-color: #2D305D;
    }
    @keyframes slideOverP1 {
        from {
            top: 70%;
        }
        to {
            top: 25%;
        }
    }
    @keyframes slideBackP2 {
        from {
            top: 25%;
        }
        to {
            top: 70%;
        }
    }
}