.multShipsPlacementOverlay,
.shipInputsOverlay {
  width: 600px;
  height: 500px;
  background-color: #8FCB9B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  font-size: 52pt;
  color: antiquewhite;
  border-radius: 50px;
}
.multShipsPlacementOverlay {
  top: 55%;
  left: 66vw;
  transform: translate(-50%, -50%);
}
.chooseShipMsg {
  font-size: 30pt;
  margin-left: 30px;
}
.shipChoiceButtons {
  margin-top: 20px;
}
.confirmShip,
.cancelShip {
  font-size: 32pt;
}
.\35,
.\34,
.\33,
.\32 a,
.\32 b {
  height: 25px;
  margin: 20px;
}
.\35 {
  width: 125px;
}
.\34 {
  width: 100px;
}
.\33 {
  width: 75px;
}
.\32 a,
.\32 b {
  width: 50px;
}

table.\32 a:hover,
table.\32 b:hover,
table.\33:hover,
table.\34:hover,
table.\35:hover {
  background-color: #F05D23;
  border-radius: 10px;
  cursor: pointer;
}

.shipInputsOverlay {
  width: 250px;
  height: 400px;
  background-color: #F05D23;
  font-size: 24pt;
  z-index: 15;
}

select{
  background-color: #6B9AC4;
  color: #2D305D;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: inherit;
}

.axis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radios {
  margin-left: 35px;
  margin-top: 20px;
}
.shipLocationButtons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[class="xRadio"],
input[class="yRadio"] {
  opacity: 1;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 6px;
  padding: 0;
  border: 5px solid #E3B505;
  border-radius: 50%;
  appearance: none;
  background-color: transparent;
  outline: none;
}

input[type="radio"]:not(:disabled):checked {
  /* border-color: yellow;
  background-color: purple; */
  background-clip: content-box;
  margin: 6px;
  padding: 2px;
  background-image: radial-gradient(
    circle,
    #6B9AC4 100%,
    transparent 60%,
    transparent 100%
  );
}

.shipsDiagram {
  display: flex;
  justify-content: center;
  align-items: center;
}
td.\32 a,
td.\32 b,
td.\33,
td.\34,
td.\35 {
  background-color: #2D305D;
  border-radius: 50px;
}

.confirmCoords:hover,
.cancelCoords:hover,
.confirmShip:hover,
.cancelShip:hover {
  background-color: #E3B505;
  color: antiquewhite;
}

.confirmCoords:active,
.cancelCoords:active,
.confirmShip:active,
.cancelShip:active {
  scale: 0.9;
}
.coordsTakenOverlay {
  width: 400px;
  height: 300px;
  background-color: #F05D23;
  font-size: 24pt;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 25;
}
.diffCoordsMsg {
  margin: 25% 5%;
}

.centeredOverlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}