.multShipsPlacementOverlay {/*multShip overlay*/
  width: clamp(300px, 40vw ,650px);
  height: clamp(350px,35vw,500px);
  background-color: #8FCB9B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 5vw, 52pt);
  color: antiquewhite;
  border-radius: clamp(20px, 1vw, 50px);
  top: 55%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.shipInputsOverlay {/*coords overlay*/
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  width: 300px;
  min-height: 300px;
  max-height: 450px;
  height: auto;
  background-color: #2D305D;
  font-size: clamp(1.5rem, 2vw, 24pt);
  z-index: 15;
  color: antiquewhite;
  border-radius: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  top: 40%;
  left: 70%
}
.chooseShipMsg {
  font-size: clamp(1.5rem, 3vw, 30pt);
  margin-left: 30px;
}
.shipChoiceButtons {
  margin-top: clamp(5px,1.5vh,20px);
}
.confirmShip {
  font-size: clamp(1.5rem, 2vw, 32pt);
}

.\35,/*ships for multShipsDiagram*/
.\34,
.\33,
.\32 a,
.\32 b {
  height: 25px;
  margin: 20px;
}
.\35 {
  width: 125px;
}
.\34 {
  width: 100px;
}
.\33 {
  width: 75px;
}
.\32 a,
.\32 b {
  width: 50px;
}

table.\32 a:hover,
table.\32 b:hover,
table.\33:hover,
table.\34:hover,
table.\35:hover {
  background-color: #F05D23;
  border-radius: 10px;
  cursor: pointer;
}

select{/*dropdown on shipCoords overlay*/
  background-color: #6B9AC4;
  color: #2D305D;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: inherit;
}

.axis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radios {
  margin-left: 35px;
  margin-top: clamp(10px,20px);
  display: flex;
  flex-direction: column;
  
}
.shipLocationButtons {/*coordsOverlay buttons*/
  margin-top: clamp(10px, 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

input[class="xRadio"],/*coordsOverlay radio buttons*/
input[class="yRadio"] {
  opacity: 1;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 6px;
  padding: 0;
  border: 5px solid #E3B505;
  border-radius: 50%;
  appearance: none;
  background-color: transparent;
  outline: none;
}

input[type="radio"]:not(:disabled):checked {
  background-clip: content-box;
  margin: 6px;
  padding: 2px;
  background-image: radial-gradient(
    circle,
    #6B9AC4 100%,
    transparent 60%,
    transparent 100%
  );
}

.shipsDiagram {/*container for multShip diagram*/
  display: flex;
  justify-content: center;
  align-items: center;
}
td.\32 a,
td.\32 b,
td.\33,
td.\34,
td.\35 {
  background-color: #2D305D;
  border-radius: 50px;
  height: clamp(5px, .5vh, 15px);
  width: clamp(5px, .5vh, 15px);
}

.confirmCoords:hover,
.cancelCoords:hover,
.confirmShip:hover,
.cancelShip:hover {
  background-color: #E3B505;
  color: antiquewhite;
}

.confirmCoords:active,
.cancelCoords:active,
.confirmShip:active,
.cancelShip:active {
  scale: 0.9;
}
.diffCoordsMsg {
  margin: 25% 5%;
}

.centeredOverlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fadeToggle{
  pointer-events: none; /*allows clicks to go through to whatever is underneath*/
  opacity: 0; /*starts off invisible*/
  transition: opacity 0.25s ease-in-out;
}
.fadeToggle.active{
    pointer-events: auto; /*enables clicks when active*/
    opacity: 1;
}
.coordsTakenOverlay {
  width: 400px;
  height: 300px;
  background-color: #F05D23;
  font-size: 24pt;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  color: antiquewhite;
  border-radius: 50px;
  z-index: 25;
}