@import url("modernReset.css");
/* .square {
  width: 500px;
  height: 500px;
  background-color: rebeccapurple;
} */
.gamingArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: darkgreen;
}

.player1Board,
.player2Board,
.player1HiddenBoard,
.player2HiddenBoard {
  margin: 20px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 10px;
}

.player1HiddenBoard,
.player2HiddenBoard {
  position: absolute;
}

.player1HiddenBoard {
  left: 10%;
  background-color: red;
}

.player2HiddenBoard {
  right: 10%;
  background-color: blueviolet;
}

.player1Board {
  background-color: midnightblue;
}
.player2Board {
  background-color: olivedrab;
}

table {
  /* added via js in player.js openBoard method */
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}
