@import url("modernReset.css");
@import url("kFrames.css");
@import url("gameType.css");
@import url("winnerOverlay.css");
@import url("shipPlacement.css");

@font-face {
  font-family: byteFont;
  src: url("../font/Bytesized-Regular.ttf");
}

.gamingArea,
.censorCurtain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: darkgreen;
}

.censorCurtain {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: #222;
  top: -150%;
  z-index: 20;
  font-size: 36pt;
  color: antiquewhite;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.player1Board,
.player2Board,
.player1HiddenBoard,
.player2HiddenBoard {
  margin: 20px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 10px;
}

.player1HiddenBoard,
.player2HiddenBoard {
  position: absolute;
  z-index: 5;
}

/* starting locations of all the boards before the game starts */
.player1HiddenBoard {
  left: 10%;
  bottom: 100%;
  background-color: red;
}

.player2HiddenBoard {
  right: 10%;
  background-color: blueviolet;
}

.player1Board {
  background-color: midnightblue;
}
.player2Board {
  background-color: olivedrab;
  opacity: 0;
}

.player1Board,
.player2Board {
  z-index: 1;
}
/* starting locations of all the boards before the game starts */

table {
  /* added via js in player.js openBoard method */
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}
