@import url("modernReset.css");
@import url("kFrames.css");
@import url("gameType.css");
@import url("winnerOverlay.css");
@import url("shipPlacement.css");

@font-face {
  font-family: byteFont;
  src: url("../font/Bytesized-Regular.ttf");
}

.titelWrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.battleshipTitle {
  text-align: center;
  font-size: 6rem;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  color: #6B9AC4;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px #F05D23;
  position: absolute;
}
.boardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  position: relative;
}

.playerLabel {
  font-size: 2rem;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  color: #ddd;
  margin-bottom: 0.5em;
  text-shadow: 1px 1px #F05D23;
}

.gamingArea,
.censorCurtain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: #2D305D;
}

.censorCurtain {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: #2D305D;
  top: -150%;
  z-index: 20;
  font-size: 2rem;
  color: antiquewhite;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.player1Board,
.player2Board,
.player1HiddenBoard,
.player2HiddenBoard {
  width: clamp(300px, 30vw, 600px );/* width: 500px; */
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #6B9AC4;
}
.player1Board, .player2Board{
  margin: 1em;/* margin: 20px; */
  z-index: 1;
  outline: 5px solid limegreen;
}

.player1HiddenBoard,
.player2HiddenBoard {
  position: absolute;
  /* top: 50%; */
  top: calc(50% + 1.5em);
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(300px, 30vw, 600px );/* width: 500px; */
  aspect-ratio: 1/1;
  z-index: 5;
  /* opacity: 0; */
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  margin: 0;
  outline: 2px solid red;
}

table {
  /* added via js in player.js openBoard method */
  width: clamp(250px, 25vw, 500px);/* width: 400px; */
  aspect-ratio: 1/1;
  margin-bottom: 1em;/* margin-bottom: 20px; */
}

#Player1-board, #Player2-board {
  /* added via js in player.js openBoard method */
  table-layout: fixed;
}

.censorCurtain, .player1HiddenBoard, .player2HiddenBoard {
  transition: all 0.5s ease-in-out;
}