@import url("modernReset.css");
@import url("kFrames.css");
@import url("gameType.css");
@import url("winnerOverlay.css");
@import url("shipPlacement.css");

@font-face {
  font-family: byteFont;
  src: url("../font/Bytesized-Regular.ttf");
}
*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  min-height: 100dvh;
}
.gameWrapper{
  width: 100%;
  max-width: 100vw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.titleWrapper {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 30;
}
.battleshipTitle {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: clamp(1.5rem, 3vw, 6rem);
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  color: #6B9AC4;
  top: clamp(4vh, 7vh, 10vh);
  left: 50%;
  transform: translateX(-50%);
  margin: 30px auto;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px #F05D23;
  position: absolute;
}
.boardWrapper {
  display: inline-block;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin: 0;
  position: relative;
  overflow: visible;
  width: 100%;
  outline: 1px solid yellow;
}
.boardContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(20px,33%,100px);/*33%*/
}
.playerLabel {
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  color: #ddd;
  text-shadow: 1px 1px #F05D23;
  outline: 1px solid red;
}

.gamingArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;/*auto*/
  height: 100svh;
  background-color: #2D305D;
  position: relative;
  z-index: 10;
}
.gameWrapper, .boardWrapper{
  max-height: 100%;
}
.censorCurtain {
  height: 100%;
  width: 100%;
  background-color: #2D305D;
  font-size: clamp(1rem, 2vw, 2rem);
  color: antiquewhite;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  z-index: 25;
  text-align: center;
}

.player1Board,
.player2Board,
.player1HiddenBoard,
.player2HiddenBoard {
  width: clamp(250px, 30vw, 600px );/* width: 500px; */
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #6B9AC4;
  margin: clamp(0.5em, 0.75em, 1em);
}
.player1Board, .player2Board{
  /* margin: 1px;clamp(0.5em, 0.75em, 1em); */
  z-index: 1;
  /* outline: 5px solid limegreen; */
}

.player1HiddenBoard,
.player2HiddenBoard {
  position: absolute;
  top: 0;/* calc(50% + 1.5em); */
  left: 0;/* 50%; */
  transform: none;/* translate(-50%, -50%); */
  width: clamp(250px, 30vw, 600px );/* width: 500px; */
  aspect-ratio: 1/1;
  z-index: 5;
  margin: 0;
  /* outline: 2px solid red; */
}
table {
  /* added via js in player.js openBoard method */
  width: clamp(220px, 25vw, 500px);/* width: 400px; */
  aspect-ratio: 1/1;
  margin-bottom: 1em;/* margin-bottom: 20px; */
}
#Player1-board, #Player2-board {
  /* added via js in player.js openBoard method */
  table-layout: fixed;
}

.censorCurtain, .player1HiddenBoard, .player2HiddenBoard {
  transition: all 0.5s ease-in-out;
}

@import url("mediaQueries.css");