.winnerOverlay {
  width: 1050px;
  height: 550px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E3B505;
  font-family: "byteFont", Arial, Helvetica, sans-serif;
  font-size: 52pt;
  color: antiquewhite;
  position: absolute;
  top: -150%;
  z-index: 11;
  border-radius: 50px;
}
.playAgain {
  font-size: 40pt;
  cursor: pointer;
  border-radius: 20px;
}
.playAgain:hover {
  background-color: #F05D23;
  color: antiquewhite;
}
.playAgain:active {
  scale: 0.95;
}
